name: CI - Build and Test

defaults:
  run:
    shell: bash

on: [pull_request, workflow_dispatch]

jobs:

  build:
    name: Check package
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os:
          - 'ubuntu-latest'
        python-version:
          - '{{PYTHON_VERSION}}'
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.3.4

      - name: Setup Python
        uses: actions/setup-python@v2.2.2
        with:
          python-version: ${{matrix.python-version}}
          architecture: x64

      - name: Check typing, linting, formatting and run unit-tests
        eval `ssh-agent -s`
        ssh-add - <<< '${{ secrets.CONNECTORS_TOKEN }}'
        git config --global url."git@github.com:".insteadOf "https://github.com/"
        run: make checks

      - name: Make documentation
        eval `ssh-agent -s`
        ssh-add - <<< '${{ secrets.CONNECTORS_TOKEN }}'
        git config --global url."git@github.com:".insteadOf "https://github.com/"
        run: make docs