#!/bin/bash

gcloud auth login
gcloud auth application-default login

gcloud config set project {{PROJECT_ID}}
gsutil mb -l europe-west1 gs://{{PROJECT_ID}}-terraform/
terraform init -backend-config=tf.backend ### if required, do NOT copy the existing state
terraform plan -var-file=tf.variables
terraform apply -var-file=tf.variables
