#!/bin/bash

root_path="$(dirname "$0")/.."
gcloud auth login
gcloud auth application-default login

cd "${root_path}/terraform"
gcloud config set project {{PROJECT_ID}}
gsutil mb -l europe-west1 gs://{{PROJECT_ID}}-terraform/
gsutil lifecycle set lifecycle.json gs://{{PROJECT_ID}}-terraform/
terraform init ### if required, do NOT copy the existing state
terraform plan -out=.terraform/terraform.plan
terraform apply .terraform/terraform.plan
cd "${root_path}"
