PROJECT = {{PROJECT_ID}}
COMPUTESERVICEACCOUNT = compute-engine@{{PROJECT_ID}}.iam.gserviceaccount.com
SUBNET = https://www.googleapis.com/compute/v1/projects/lh-itlm/regions/europe-west1/subnetworks/lh-dedicated-{{PROJECT_ID}}
